body {
    border: 2px;
    background-color: rgba(175, 236, 223, 0.521);
}
.Title {
    margin: 0;
    text-align: center;
}
.SubSection {
    margin: 50px;
}
h2 {
    margin: auto;
    text-align: left;
}

h3 {
    margin: bottom;
    text-align: left;
}
p {
    margin: auto;
    text-align: justify;
}
footer {
    margin-top: 25px;
}