body {
    border: 2px;
    margin: 5%;
    margin-right: 10%;
    font-size: 1.6vw;
    background-color: rgba(59, 59, 240, 0.226);
}
.Title {
    margin-bottom: 45px;
    text-align: center;
}
.SubSection {
    margin-top: 30px;
    margin-bottom: 0;}
h2 {
    margin: auto;
    margin-bottom: 0;
    text-align: left;
}

h3 {
    margin: bottom;
    margin-bottom: 0;
    text-align: left;
}
p {
    margin: auto;
    text-align: justify;
}
footer {
    margin-top: 25px;
    margin-bottom: 0;
}